/* style.css */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: whitesmoke;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0 5%;

}

header h1{
    font-size: 40px;

}

header nav 
{
    display: flex;
    gap: 30px;
}

header nav a
{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600px;
    padding: 8px 16px;
    border-radius: 99px;
    transition: 0.3s;
    color: black;
}

header nav a.active
{
    background: #4dcd8d;
}

header nav a:hover
{
    background: #4dcd8d;
}

header nav a:hover > a::not(:hover) {
    background: none;

}

.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text {
position: absolute;
font-size: 5em;
color: #ffffff;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);


}

.title img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;

}

.about
{
    position: relative;
    background: #003329;
    height: 100vh;
    padding: 100px;
}

.about h2{
    font-size: 3em;
    color: #ffffff;
    margin-bottom: 10px;
}