.bodycls {
  padding-left: 50px;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}

.footercls {
  position: bottom;
  bottom: 0;
  background-color: #a4ccac;
  width: 100%;
  height: rem;
  color: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  line-height: 2rem;
}

.footer_privacy {
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}

.footer_privacy:hover {
  transform: scale(1.2);
}

#footer_copyrt {
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

.footer_links {
  color: white;
  text-decoration: none;
}

.git_css:hover,
.insta_css:hover {
  transform: scale(1.2);
  transition-duration: 0.35s;
}

.footer_links:hover {
  font-weight: bold;
}

.git_css {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.faq {
  font-size: 2rem;
  font-family: Impact, fantasy;
  height: 5rem;
  background-color: #3e6f5a;
  color: #e7eee7;
  text-align: center;
  font-weight: normal;
}

.Questions {
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 700px;
  margin-left: 80px;
  text-align: justify;
  box-sizing: content-box;
  width: 84%;
  border: 0px solid #a4ccac;
  border-collapse: collapse;
  border-radius: 4px;
  margin-bottom: 100px;
}

.Question1 {
  font-family: 'Times New Roman', Times, serif;
  color: #3e6f5a;
  font-weight: bold;
  font-size: 1.4rem;
  margin-right: 700px;
  margin-left: 80px;
  text-align: justify;
  box-sizing: content-box;
  width: 84%;
  border-spacing: 4px;
  background-color: #a4ccac;
  border: 0px solid #a4ccac;
  border-radius: 4px;
}

.hover-underline-animation {
  position: relative;
  color: #ffffff;
  padding-left: 10px;
}

.row1 {
  height: 50px;
}

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #3e6f5a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.accordion {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #a4ccac;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #a4ccac;
}

.panel {
  padding: 18px;
  display: none;
  background-color: #a4ccac;
  overflow: hidden;
  color: #3e6f5a;
  font-family: monospace;
  font-size: 1.2rem;
}

.visit {
  height: 3rem;
  border-radius: 7px;
  color: #ffffff;
  font-family: monospace;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #3e6f5a;
}

.rrr {
  color: #3e6f5a;
  font-family: monospace;
  font-size: 1.2rem;
}
