@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Spacer.css */
.spacer-background {
  background: rgb(0,51,41);
  background: linear-gradient(180deg, rgba(0,51,41,1) 12%, rgba(16,64,55,1) 37%, rgba(255,255,255,1) 100%);
  height: 20vh; /* Adjust the height as needed */
}


@font-face {
  font-family: 'HelmetNeue';
  src: url('../fonts/HelmetNeue.otf') format('opentype');
}

@font-face {
  font-family: 'Breulgroteska';
  src: url('../fonts/breulgroteska.otf') format('opentype'); 
}

@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('opentype');
}