@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* Spacer.css */
.spacer-background {
  background: rgb(0,51,41);
  background: linear-gradient(180deg, rgba(0,51,41,1) 12%, rgba(16,64,55,1) 37%, rgba(255,255,255,1) 100%);
  height: 20vh; /* Adjust the height as needed */
}


/* For Title.jsx */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

.fancy {
  background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size: 110% auto;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}





/* Paragraph Fonts  */
@font-face {
  font-family: 'HelmetNeue';
  src: url('../fonts/HelmetNeue.otf') format('opentype');
}



/* About Us Header */
@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Epicfusion'; 
  src: url('../fonts/EpicFusion.ttf') format('opentype');
}